{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">
          <br>
          <br>
          <h4 style="color:gray;">Adicionar um Plug</h4>
          <br>
          <br>
          {% if error %}
          <p>{{error}}</p>
          {% endif %}
          <form id="create-form" method="post" action="{% url 'register_plug' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-md-6">
                <input required type="text" class="form-control" id="id_activation_key" name="activation_key" placeholder="Insert the activation key ">
              </div>
              <div class="col-md-6">
                <input required type="text" class="form-control" id="id_division_name" name="division_name" placeholder="What's the location?">
              </div>
              <div>
                <input required type="text" class="form-control" id="id_plug_name" name="name" placeholder="Plug name">
              </div>
            </div>
            <br>
            <br>
            {% if form.errors %}
                <p class=" label label-danger">{{ form.errors }}</p>
            {% endif %}
            <button type="submit" value="Submit" class="btn btn-secondary">ADD</button>
          </form>
        </div>
  </body>
</html>
